body{
    text-align: left;
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-family: 'Alatsi', sans-serif;
    color: white;
}

h2{
    text-align: center;
    color: #0092cc;
}

h3{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: #f76d7f;
  }
  
  a:hover {
    text-decoration: none;
    color: #c1ff1c;
  }
  
  a:active {
    text-decoration: none;
  }

  .glow {
    font-size: auto;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }