body{
    text-align: left;
    background-color: black;
    color:#f0f0f0;
}

h1{
    text-align: center;
    font-family: 'Alatsi', sans-serif;
    color: #f0f0f0;
}

h2{
    text-align: center;
    color: #0092cc;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: #f76d7f;
  }
  
  a:hover {
    text-decoration: none;
    color: #ffb989;
  }
  
  a:active {
    text-decoration: none;
  }