body{
    text-align: left;
    background-color: black;
    color:#f0f0f0;
}

h1{
    text-align: center;
    font-family: 'Alatsi', sans-serif;
    color: #f0f0f0;
}

h2{
    text-align: center;
    color: #0092cc;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: #f76d7f;
  }
  
  a:visited {
    text-decoration: none;
    color: #f76d7f;
  }
  
  a:hover {
    text-decoration: none;
    color: #c1ff1c;
  }
  
  a:active {
    text-decoration: none;
  }

  .glow {
    font-size: auto;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f76d7f, 0 0 40px #f76d7f, 0 0 50px #f76d7f, 0 0 60px #f76d7f, 0 0 70px #f76d7f;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f76d7f, 0 0 40px #f76d7f, 0 0 50px #f76d7f, 0 0 60px #f76d7f, 0 0 70px #f76d7f, 0 0 80px #f76d7f;
    }
  }