
body{
    text-align: left;
    background-color: #66342c;
    color: #f0f0f0;
}

h1{
    text-align: center;
    font-family: 'Alatsi', sans-serif;
    color: #f0f0f0;
}

h2{
    text-align: center;
    color: #f0f0f0;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: #D3FF8A;
  }
  
  a:visited {
    text-decoration: none;
    color: #D3FF8A;
  }
  
  a:hover {
    text-decoration: none;
    color: #c1ff1c;
  }
  
  a:active {
    text-decoration: none;
  }


.glow {
  font-size: auto;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #D3FF8A, 0 0 40px #D3FF8A, 0 0 50px #D3FF8A, 0 0 60px #D3FF8A, 0 0 70px #D3FF8A;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #D3FF8A, 0 0 40px #D3FF8A, 0 0 50px #D3FF8A, 0 0 60px #D3FF8A, 0 0 70px #D3FF8A, 0 0 80px #D3FF8A;
  }
}