

body{
    text-align: left;
    background-color: #273248;
    color:#f0f0f0;
}

h1{
    text-align: center;
    color: #f0f0f0;
    font-family: 'American Captain', 'sans-serif';
    font-size: 50pt;
}
@font-face {
  font-family: 'American Captain';
  src: url('AmericanCaptain.woff2') format('woff2'),
      url('AmericanCaptain.woff') format('woff');
  font-weight:normal
  ;
  font-style: normal;
  font-display: swap;
}

h2{
    text-align: center;
    color: #D7FF96;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

a:link {
    text-decoration: none;
    color:  #E390C2;
  }
  
  a:visited {
    text-decoration: none;
    color: #E390C2;
  }
  
  a:hover {
    text-decoration: none;
    color: #E390C2;
  }
  
  a:active {
    text-decoration: none;
  }


.glow {
  font-size: auto;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffb989, 0 0 40px #ffb989, 0 0 50px #ffb989, 0 0 60px #ffb989, 0 0 70px #ffb989, 0 0 80px #ffb989;
  }
}