body{
    background-color: #E6E6E6;
	margin: 1em;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: 'Glassure';
    src: url('Glassure.woff2') format('woff2'),
        url('Glassure.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1{
	display:inline-block;
	/* outline: solid red; */
	padding: 0;
	position: fixed;
	font-family: 'Glassure', serif;
	letter-spacing: .5rem;
    writing-mode: vertical-lr;
	font-size: 40pt;
    transform: rotate(180deg);
    margin: 0.5em;;
}

.wrapper{
	margin:0px;
	margin-left:35%;
	margin-right: auto;
}

.wrapper img{
	border-radius: 100%;

}

.wrapper2.icon1 {
    opacity: 100%;
}

.wrapper2{
	position: relative;
	left: 20%;
	justify-content: center;
	/* outline: solid red;   */
	margin: 40px;
	width: auto;
	height: auto;
}

.wrapper2 img{
	padding-left: 25px;
	opacity: 50%;
	border-radius: 35%;
}

.wrapper2 img:hover{
	padding-left: 25px;
	opacity: 100%;
}

.wrapper3{
	/* outline: solid red;   */
	margin:0px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.catalogue{
	margin: 0 auto;
	max-width: 90%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 6px;
}

.catalogue img{
	width:100%;
	display: block;
}

/* scroll bar */
::-webkit-scrollbar
{
	width: 0;
}

#scrollPath
{
	position: fixed;
	top: 0;
	right: 0;
    margin:1.5em;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);
}

#progressbar
{
	position: fixed;
	top: 0;
	right: 0;
    margin: 1em;
	width: 10px;
	background: linear-gradient(to top, #008aff,#00ffe7);
	animation: animate 5s linear infinite;
}

@keyframes animate
{
	0%,100%
	{
		filter: hue-rotate(0deg);
	}
	50%
	{
		filter: hue-rotate(360deg);
	}
}

#progressbar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(10px);
}

#progressbar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(30px);
}
